h1 {
	font-family: 'Papyrus', fantasy;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 26.4px;
    text-align: center;
    margin-bottom: 30px;
    color: darkgreen;
}

.hoverTable{
	font-family: verdana,arial,sans-serif;
	font-size: 12px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	margin: 0px 50px;
}
.hoverTable td{ 
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
/* Define the default color for all the table rows */
.hoverTable tr{
	background-color:#ffffff;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
      background-color: #d4e3e5;
}

.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}