/*=========================
  
 ================= */
input {
	
  font-family: fantasy;

} 
 
 
textarea {
  font-family: fantasy;
}
 
container-menu {
   background-color: white;
   width: 500px;
   border: 3px solid #761D2A;
   padding: 25px;
   margin: 25px;
}

label {
  font-family: 'Papyrus', fantasy;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
  color: #521416;
}

form input[type="submit"] {
  -moz-box-shadow: 0px 11px 14px -8px #595959;
  -webkit-box-shadow: 0px 11px 14px -8px #595959;
  box-shadow: 0px 11px 14px -8px #595959;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c72424), color-stop(1, #761d2a));
  background:-moz-linear-gradient(top, #c72424 5%, #761d2a 100%);
  background:-webkit-linear-gradient(top, #c72424 5%, #761d2a 100%);
  background:-o-linear-gradient(top, #c72424 5%, #761d2a 100%);
  background:-ms-linear-gradient(top, #c72424 5%, #761d2a 100%);
  background:linear-gradient(to bottom, #c72424 5%, #761d2a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c72424', endColorstr='#761d2a',GradientType=0);
  background-color:#c72424;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:14px;
  margin: 15px 0px 20px 25px;
  font-weight:bold;
  padding: 9px 17px;
  text-decoration:none;
  text-shadow:1px 2px 7px #141414;
}

form input[type="date"]{
   -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

/*=========================
  Error handle
 ================= */

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('http://anticadimoradivalregina.com/images/icons/icon-success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('https://book.cebupacificair.com/images/CebuAirRevamp/ceb-error-icon.png');
}


/*=========================
  Icons
 ================= */

@font-face {
    font-family: 'si';
    src: url('../icons/socicon.eot');
    src: url('../icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('../icons/socicon.woff') format('woff'),
         url('../icons/socicon.ttf') format('truetype'),
         url('../icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 53px;
    height: 53px;
    line-height: 53px;
    font-size: 29px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}

body {
  color: #000;
  font: 14px Arial;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.formulario { margin: 25px auto; position: relative; width: 900px; }
#content {
  background: #f9f9f9;
  background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -ms-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border: 1px solid #c4c6ca;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 400px;
  margin: 0px 0px 100px 25%;
}

